<footer>
  <h2 class="text-center">
    Copyright © {{ year }} Karina Lavin - Todos los derechos reservados.
  </h2>
  <div class="social text-center">
    <a
      class="ig"
      href="https://www.instagram.com/karinalavincoach"
      target="_blank"
    >
      <img src="/assets/img/instagrambig.png" alt=""
    /></a>
    <a
      class="fb"
      href="https://www.facebook.com/Karina-Lavin-Coach-101272148644489"
      target="_blank"
    >
      <img src="/assets/img/facebook.png" alt=""
    /></a>
  </div>
  <p class="text-center">
    <a routerLink="politica-privacidad">Politica de privacidad</a>
  </p>
</footer>
