.main-container {
  height: 100%;
}
.gallery-box {
  padding: 10px;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .antes-despues-container {
    flex: 1;
    /* additionally, equal width */

    padding: 1em;

    .image {
      max-height: 500px;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
        border-radius: 15px;
      }
    }
  }
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  img {
    width: 100%;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
