<div class="gallery-box">
  <div *ngFor="let item of this.casosExito" class="antes-despues-container">
    <div class="image">
      <img src="{{ item.image }}" alt="cliente" />
    </div>
    <div class="text"></div>
  </div>
  <!-- <div class="antes-despues-container">
    <div class="image">
      <img src="/assets/img/resultadoschica1.jpeg" alt="cliente" />
    </div>
    <div class="text"></div>
  </div>
  <div class="antes-despues-container">
    <div class="image">
      <img src="/assets/img/resultadosalan.jpg" alt="cliente" />
    </div>
    <div class="text"></div>
  </div>
  <div class="antes-despues-container">
    <div class="image">
      <img src="/assets/img/antesdespueskike.png" alt="cliente" />
    </div>
    <div class="text"></div>
  </div> -->
</div>
