.mat-stepper-horizontal {
  margin-top: 8px;
}
mat-stepper {
  margin-left: 10%;
}

.mat-form-field {
  margin-top: 16px;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
mat-form-field {
  width: 60%;
}
.form-item {
  width: 60%;
}
