<h2 mat-dialog-title>Caso de Éxito</h2>
<mat-dialog-content class="mat-typography">
  <h3>Captura la información pls</h3>

  <form [formGroup]="formGroup" (ngSubmit)="save()">
    <mat-form-field>
      <input
        matInput
        required
        formControlName="name"
        type="text"
        placeholder="Nombre"
        value="value"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        required
        formControlName="description"
        type="text"
        placeholder="Descripción"
        value="value"
      />
    </mat-form-field>

    <div fxLayout="column wrap" class="image-container">
      <hr />
      <input type="file" (change)="uploadImage($event)" />
      <hr />
      <img
        *ngIf="this.formGroup.get('image')?.value"
        [src]="this.formGroup.get('image')?.value"
      />
      <a
        mat-stroked-button
        color="warn"
        *ngIf="this.formGroup.get('image')?.value"
        (click)="deleteFile()"
        >Eliminar imagen</a
      >
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button *ngIf="data" color="warn" (click)="delete(data)">
    Eliminar
  </button>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    [disabled]="!this.formGroup.valid"
    cdkFocusInitial
    (click)="save()"
  >
    Guardar
  </button>
</mat-dialog-actions>
