<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">BIENVENIDO(A)</a>
      <a mat-list-item routerLink="/iniciar-sesion">Iniciar sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/" class="kartxt">Karina Lavin Coach </span>
      <!-- <span class="lgtb">
        <img src="/assets/img/pride.gif" alt="" />
      </span> -->
      <span class="example-spacer"></span>
      <button fxHide.xs
        mat-button
        routerLink="/iniciar-sesion"
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        Iniciar sesión
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
