.main-container {
  background: -o-linear-gradient(
      74deg,
      rgba(233, 233, 233, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 55%,
      rgba(0, 0, 0, 0.8) 88%
    ),
    url(/assets/img/karina-fondo.png);
  background: linear-gradient(
      16deg,
      rgba(233, 233, 233, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 55%,
      rgba(0, 0, 0, 0.8) 88%
    ),
    url(/assets/img/karina-fondo.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

h1 {
  color: white;
}

h2 {
  color: white;
}
mat-hint {
  color: white;
  font-size: 1em;
}
p.main-txt {
  color: white;
  font-size: 3em;
}
