<section class="header flex">
  <div class="bubble bubble-1 firstanim" *ngFor="let item of words">
    <h2>
      {{ item }}
    </h2>
  </div>
  <div class="animatedImage">
    <img src="/assets/img/karinader.jpg" alt="" />
  </div>
  <div class="bubble bubble-5 secondanim fadeIn">
    <a
      href="https://www.facebook.com/Karina-Lavin-Coach-101272148644489"
      target="_blank"
    ></a>
  </div>
  <div class="bubble bubble-6 secondanim fadeIn">
    <a href="https://www.instagram.com/karinalavincoach/" target="_blank"></a>
  </div>
  <div class="img-container">
    <img class="fadeIn" src="/assets/img/bannernew-removebgwhite.png" />
  </div>
  <div class="main-text">
    <div class="content-container">
      <h1 class="an-1">Solo dime tus objetivos, yo te ayudo a realizarlos</h1>

      <p class="icons">
        <a
          class="button-wp fadeIn"
          href="https://wa.me/528348532678"
          target="_blank"
          mat-raised-button
        >
          <span><img src="/assets/img/whatsapp.png" alt="" /></span>
          Enviame un mensaje</a
        >
      </p>
    </div>
  </div>
</section>
<section class="karina-intro flex boder-top">
  <div class="title">
    <h3>KARINA LAVIN</h3>
    <p>
      Que no te endulcen la idea de que tener el cuerpo que deseas es una tarea
      fácil, tienes que esforzarte más allá de lo que hace la mayoría, salir de
      tu zona de confort y aprender todos los días algo nuevo, pero no te
      preocupes que para eso estoy aquí. Como tu entrenadora personal te guiaré
      a través de mi programa de acondicionamiento físico y te motivaré para que
      logres los resultados que buscas en el menor tiempo posible, pero para eso
      necesito que te enfoques en 4 cosas:
    </p>
    <ul>
      <li><p>1.Alimentación</p></li>
      <li><p>2.Técnica</p></li>
      <li><p>3.Constancia</p></li>
      <li><p>4.Disciplina</p></li>
    </ul>
    <p>
      Sencillo ¿no?, a simple vista lo es, pero una vez que empieces a entrenar
      con nosotros y notes los resultados, aprenderás que esos son los pilares
      que sostienen tu objetivo de lograr el cuerpo que deseas.
    </p>
    <p class="enfasis">
      Déjame ser tu <span>coach</span>, esfuérzate al máximo y no te
      arrepentirás.
    </p>
  </div>
</section>
<section class="transformaciones">
  <div class="title">
    <h3 class="title-red">ATREVETE A MEJORAR TU CALIDAD DE VIDA</h3>
    <p class="text-center">
      Genera un cambio a tu vida. <br />
      El camino no es fácil ni rápido, pero sí que aprenderás lo necesario en el
      proceso.
    </p>
  </div>

  <app-success-gallery></app-success-gallery>
</section>
<section class="ifbb-info">
  <div class="title">
    <h3 class="title-red">CERTIFICADA POR LA IFBB</h3>
  </div>
  <div class="flex info">
    <div class="section-info">
      <h4>IFBB, International Federation of Bodybuilding and Fitness.</h4>
      <p>
        Organización deportiva reconocida por el
        <a target="_blank" href="https://gaisf.sport/">GAISF</a> como única
        entidad internacional representativa del fisicoculturismo en el mundo.
        Coach y entrenadora personal avalada con la garantía, el prestigio y la
        experiencia de la Federación Internacional de Fisicoculturismo y
        Fitness.
      </p>
    </div>
    <div class="section-info text-center">
      <img src="/assets/img/ifbb.svg" alt="" />
    </div>
  </div>
</section>
<section class="fin text-center">
  <div class="title">
    <h3 class="title-red">
      SOLICITA MÁS INFORMACIÓN DE MIS PLANES DE ENTRENAMIENTO
    </h3>
    <p class="text-center">No esperes más y empieza tu camino HOY</p>
  </div>
  <div class="logo">
    <img src="/assets/img/klcrojo.svg" alt="" />
  </div>
  <div class="button">
    <a href="https://wa.me/528348532678" target="_blank" mat-raised-button>
      <mat-icon
        svgIcon="wasap"
        aria-hidden="false"
        aria-label="Example thumbs up SVG icon"
      ></mat-icon>
      Enviame un mensaje</a
    >
  </div>
  <br />
  <br />
  <br />
</section>
