/* BREAK POINTS */
@media only screen and (max-width: 800px) {
  .button-wp {
    font-size: 1.5em;
    padding: 0px !important;
    margin-right: -13px !important;
  }

  section.header {
    .img-container {
      img {
        width: 100%;
        top: 20%;
      }
    }

    .bubble {
      border-radius: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      bottom: 0%;

      h2 {
        font-size: 1em;
      }
    }

    .bubble-1 {
      display: none;
    }

    .bubble-4 {
      display: none;
    }

    .bubble-5 {
      left: 20% !important;
      width: 70px !important;
      height: 70px !important;
    }

    .bubble-6 {
      left: 80% !important;
      width: 70px !important;
      height: 70px !important;
    }

    .bubble-2 {
      display: none;
    }

    .bubble-3 {
      display: none;
    }
  }

  .main-text {
    width: 100% !important;
    top: 45% !important;

    .content-container {
      h1 {
        font-size: 1em !important;
      }

      p {
        position: absolute;
        top: 200%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 100%;

        .button-wp {
          font-size: 0.7em !important;
          // display: none;

          img {
            width: 15%;
            margin-top: 10px;
          }
        }

        a {
          font-size: unset !important;
          padding: 0px;
          opacity: 0;

          .mat-icon {
            display: none;
          }
        }
      }
    }
  }

  .colored-section {
    width: 45% !important;

    .text-container {
      h3 {
        font-size: 1.5em !important;
      }
    }
  }

  .colored-section.red {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

  section.karina-intro {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -o-linear-gradient(
        74deg,
        rgba(233, 233, 233, 1) 0%,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 55%,
        rgba(0, 0, 0, 0.8) 88%
      ),
      url(/assets/img/karina-fondo.png);
    background-image: linear-gradient(
        16deg,
        rgba(233, 233, 233, 1) 0%,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 55%,
        rgba(0, 0, 0, 0.8) 88%
      ),
      url(/assets/img/karina-fondo.png);
    //background: black;
    background-position: center;
    background-size: cover;

    .title {
      width: 70%;

      h3 {
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
      }

      .enfasis {
        font-size: 1.5em;
      }
    }
  }

  section.transformaciones {
    .title {
      h3 {
        font-size: 1.5em !important;
      }

      p {
        font-size: 1em !important;
        width: 80% !important;
        margin: 0 auto !important;
      }
    }

    mat-card {
      width: 60%;
    }

    .gallery-box {
      flex-direction: column;
      align-items: center;
    }
  }

  section.ifbb-info {
    max-width: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: black;

    .title {
      h3 {
        font-size: 1.5em !important;
      }
    }

    .info {
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    .section-info {
      width: 85%;
      padding: 10px;
      padding: 1.5em;

      img {
        width: 75%;
        max-width: 100%;
      }

      h4 {
        color: white;
        letter-spacing: normal;
        font-size: 1em;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1em;
      }

      p {
        color: white;
        letter-spacing: normal;
        font-size: 1em;
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  section.fin {
    .title {
      h3 {
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
      }
    }

    .logo {
      img {
        width: 40%;
      }
    }

    .button {
      margin-top: 15px;
      width: 80%;
      font-size: 1em;
      text-align: center;

      a {
        font-size: 1em;
        padding: 25px;

        .mat-icon {
          height: 32px !important;
          width: 32px !important;
          font-size: 1em;
          color: white;
        }
      }
    }
  }
}
