<h3 mat-dialog-title class="text-center title-modal">Cambio de contraseña</h3>
<mat-dialog-content>
  <form [formGroup]="formGrp">
    <mat-form-field appearance="fill">
      <mat-label>Contraseña actual</mat-label>
      <input
        matInput
        required
        type="password"
        formControlName="originalPassword"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña nueva</mat-label>
      <input matInput required type="password" formControlName="newPassword" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirmar contraseña nueva</mat-label>
      <input
        matInput
        type="password"
        required
        formControlName="confirmNewPassword"
      />
    </mat-form-field>
    <button
      [disabled]="!formGrp.valid || this.loading"
      mat-raised-button
      color="accent"
      (click)="onOkClick()"
    >
      Guardar
    </button>
    <mat-error *ngIf="this.message">
      {{ this.message }}
    </mat-error>
  </form>
</mat-dialog-content>
