@media screen and (min-width: 0px) and (max-width: 599.98px) {
  .separator-menu {
    padding-left: 55% !important;
    color: black;
  }
  .thebutton {
    color: black;
  }
  .menu-items {
    display: none;
  }
  .resp-menu {
    display: block;
  }
}
mat-icon {
  margin-top: 10px;
}
