<div class="main-container">
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <h1 fxFlex="100" class="text-center">Catalogo de ejercicios</h1>
    <button
      color="primary"
      mat-raised-button
      routerLink="/panel-de-control/crear-ejercicio"
    >
      Agregar ejercicio
    </button>
    <!-- <button (click)="guardarTodo()">Guardar</button> -->
    <!-- <br />
    <input type="file" (change)="checkEx($event)" /> -->
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="100" class="padding">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Abdomen"
          #input
        />
      </mat-form-field>
    </div>
    <div fxFlex="100" class="padding">
      <mat-form-field appearance="fill">
        <mat-label>Categoría</mat-label>
        <mat-select (valueChange)="changeCat($event)">
          <mat-option
            *ngFor="let categoria of categorias"
            [value]="categoria.id"
          >
            {{ categoria.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <table
      fxFlex="100"
      class="padding"
      mat-table
      [dataSource]="dataSource"
      matSort
    >
      <!-- Name Column -->
      <ng-container matColumnDef="zonaBase">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Sección muscular (para busqueda)
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-select
            style="width: 50%"
            placeholder="Zona base"
            [(ngModel)]="row.zonaBase" (selectionChange)="changeZonaBase($event,row)"
          >
            <mat-option value="superior-hombro"> Superior-Hombro </mat-option>
            <mat-option value="superior-espalda"> Superior-Espalda </mat-option>
            <mat-option value="superior-pecho"> Superior-Pecho </mat-option>
            <mat-option value="superior-brazos"> Superior-Brazos </mat-option>
            <mat-option value="superior-abdomen"> Superior-Abdomen </mat-option>
            <mat-option value="inferior-cuadricep">
              Inferior-Cuadricep
            </mat-option>
            <mat-option value="inferior-femoral"> Inferior-Femoral </mat-option>
            <mat-option value="inferior-pantorrilla">
              Inferior-Pantorrilla
            </mat-option>
            <mat-option value="inferior-gluteo"> Inferior-Gluteo </mat-option>
          </mat-select>
        </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Opciones</th>
        <td mat-cell *matCellDef="let row">
          <button (click)="cargaDetalle(row)" mat-raised-button>
            Zonas musculares</button
          ><button
            routerLink="/panel-de-control/crear-ejercicio/{{ row.id }}"
            mat-raised-button
          >
            Editar
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No hay datos con el filtro "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
