p,
h3 {
  margin: 0;
}
.ejercicio {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  .details {
    width: 100%;
    margin-bottom: 20px;
  }
}
.zona-details {
  width: 10%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
